/*-------------------- adopt_banner --------------------*/
.adopt_banner{
    background-image: url(../images/adopt_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 40%;
    max-width: 1920px;
    height: 750px;
    margin: 0 auto;
    line-height: 1.2;
    padding-top: 30px;
    padding-right: 80px;
    text-align: right;
}

.adopt_banner h1{
    color: #FEF8EA;
    font-size: 88px;
    text-shadow: 0 1px 10px #000;
}

.adopt_banner h2{
    color: #FEF8EA;
    font-size: 66px;
    text-shadow: 0 1px 10px #000;
}

.adopt_banner .banner_pinkline{
    display: none;
    background-color: #FFB7B7;
    width: 380px;
    height: 5px;
    margin-top: 40px;
    
}

/*-------------------- search_area --------------------*/
.search_area{
    width: 900px;
    margin: 0 auto;
}

/*-------------------- cat_dog --------------------*/
.cat_dog{
    width: 200px;
    height: 40px;
    margin-top: 50px;
    /* margin-left: 515px; */
}

.cat_dog ul{
    display: flex;
}

.cat_dog ul li{
    width: 85px;
    height: 35px;
    background-color: #fff;
    margin-right: 15px;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

.cat_dog ul li:first-child{
    width: 120px;
    background-color: #9D8E7E;
    color: #fff;
}

.focus{
    color: #fff;
    background-color: #9D8E7E!important;
    transition: .5s;
}

.cat_dog ul li:focus{
    
}

.display_none{
    display: none!important;
}

.unfocus{
    color: #000!important;
    background-color: #fff!important;
}

/*-------------------- search --------------------*/
.search{
    /* margin-left: 515px; */
    margin-top: 20px;
    display: flex;
}

.search > *{
    margin-right: 20px;
}

.select{
    width: 150px;
    height: 35px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 5px;
}

.select option:first-child{
    color: #000;
}

.search_button{
    display: block;
    width: 65px;
    height: 35px;
    background-color: #9D8E7E;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

/*-------------------- adopt_announcement --------------------*/
.adopt_announcement{
    margin-top: 30px;
    /* margin-left: 515px; */
    width: 800px;
    height: 70px;
    background-color: #fff;
    padding: 10px 0;
    padding-left: 25px;
    color: red;
    font-weight: bold;
    border-radius: 5px;
}

/*-------------------- pet_card --------------------*/
.pet_card_area{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.pet_card{
    /* border: 1px solid rgba(157, 142, 126, .4); */
    border-radius: 10px;
    width: 600px;
    /* height: 350px; */
    display: flex;
    padding: 40px 20px 10px 20px;
}

.pet_card:last-child{
    /* flex-grow: 1; */
}

.pet_card .rectangle{
    display: block;
    width: 340px;
    height: 300px;
    background-color: #9D8E7E;
    opacity: .4;
    position: absolute;
}

.pet_card img{
    width: 340px;
    height: 300px;
    display: block;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}

.pet_card .vertical_line{
    display: block;
    width: 3px;
    height: 300px;
    background-color: #9D8E7E;
    opacity: .4;
    margin-top: 20px;
    margin-left: 25px;
}

.pet_card_right{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    line-height: 40px;
}

.pet_card_right a{
    display: block;
    width: 80px;
    height: 30px;
    background-color: #9D8E7E;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
    transition: .5s;
}

.pet_card_right a:hover{
    transform: scale(1.1);
    transition: .5s;
}

/*-------------------- page_button --------------------*/
.page_button{
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-weight: bold;
}

.page_button a:not(:first-child, :last-child){
    color: #000;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.page_button .color{
    color: #fff!important;
    background-color: #9D8E7E;
}

/* .page_button a:nth-child(2){
    color: #fff;
    background-color: #9D8E7E;
} */

.page_button a:hover{
    /* color: #fff;
    background-color: #9D8E7E; */
    /* transition: .5s; */
}

.arrow{
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #9D8E7E;
}

.page_button .previous_page{
    position: relative;
}

.page_button .previous_page:before{
    display: block;
    content: '';
    border: 8px solid #fff;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top: 7px;
    left: 3px;
}

.page_button .next_page{
    position: relative;
}

.page_button .next_page:before{
    display: block;
    content: '';
    border: 8px solid #fff;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 7px;
    left: 11px;
}


/*-------------------- to_top --------------------*/
.to_top{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #9D8E7E;
    width: 30px;
    height: 30px;
    transition: .5s;
}

.to_top:hover{
    transition: .5s;
    transform: scale(1.1);
}

#arrow{
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*-------------------- RWD (428px) --------------------*/
/*-------------------- RWD (428px) --------------------*/
/*-------------------- RWD (428px) --------------------*/
/*-------------------- RWD (428px) --------------------*/
@media screen and (max-width: 428px){

    /*-------------------- front_page_banner --------------------*/
    .adopt_banner{
        width: auto;
        background-position:80% 100%;
        height: 560px;
        padding: 0;
        padding-top: 60px;
        padding-right: 30px;
    }

    .adopt_banner h1{
        font-size: 46px;
    }

    .adopt_banner h2{
        font-size: 32px;
    }


    /*-------------------- search_area --------------------*/
    .search_area{
        width: auto;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
    }


    /*-------------------- cat_dog --------------------*/
    .search_area .cat_dog{
        width: auto;
        height: 30px;
        order: 3;
        display: none;
    }

    /*-------------------- search --------------------*/
    .search{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 220px;
        /* border: 1px solid red; */
    }

    .search > *{
        margin-right: 0;
    }

    .search select{
        width: 100%;
        height: 40px;
    }

    .search .search_button{
        width: 80px;
    }

    /*-------------------- adopt_announcement --------------------*/
    .adopt_announcement{
        width: auto;
        height: auto;
        font-size: 14px;
        margin-top: 10px;
        padding: 10px;
    }

    .adopt_announcement h2:nth-child(1){
        text-indent: -1em;
        padding-left: 15px;
    }

    /*-------------------- pet_card --------------------*/
    .pet_card_area{
        width: auto;
        flex-direction: column;
        align-items: center;
    }

    .pet_card{
        width: auto;
        padding-top: 20px;
    }

    .pet_card .rectangle{
        width: 180px;
        height: 170px;
    }

    .pet_card img{
        width: 192px;
        height: 170px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .pet_card .vertical_line{
        height: 170px;
        width: 1px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .pet_card .pet_card_right{
        margin-left: 0;
        margin-top: 0;
    }

    .pet_card .pet_card_right h3{
        margin-left: 10px;
        font-size: 12px;
        line-height: 1.2;
        margin-top: 10px;
    }

    .pet_card .pet_card_right h3:first-child{
        margin-top: 20px;
    }

    .pet_card .pet_card_right a{
        width: 60px;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        margin-top: 20px;
        margin-left: 10px;
    }

    /*-------------------- page_button --------------------*/
    .page_button{
        width: auto;
        padding: 0 30px;
    }

    .page_button a:nth-child(-n+8):nth-child(n+6){
        display: none;
    }

    .page_button a:nth-last-child(3){
        display: none;
    }

    /*-------------------- to_top --------------------*/
    .to_top{
        width: 25px;
        height: 25px;
        bottom: 13px;
    }

    #arrow{
        font-size: 12px;
    }
}