/*-------------------- content --------------------*/
.content{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.content div:not(:last-child){
    padding-top: 30px;
}

.content h2{
    color: #fff;
    font-size: 28px;
    text-align: center;
    
    font-weight: bold;
}

.content .btn_open{
    display: block;
    color: #fff;
    width: 100px;
    height: 40px;
    background-color: #9D8E7E;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.content .btn_open:hover{
    transform: scale(1.1);
    transition: .5s;
}

/*-------------------- popup --------------------*/

.container{
    width: 600px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    transform: scale(0);
    transition: .5s;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 1px;
    margin: auto;
}

.container p{
    font-size: 60px;
    font-weight: bold;
    color: #9D8E7E;
    text-align: center;
    line-height: 250px;
}

.container i{
    font-size: 24px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.cover{
    display: none;/* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    opacity: .7;
    background-color: #000;
    padding-top: 50px;
}

.display_block{
    display: block;
}

.display_none{
    display: none;
}

.is-active{
    animation: popup .7s;
    transform: scale(1);
}

@keyframes popup{
    0% {transform: scale(0);}
    20% {transform: scale(1.1);}
    50% {transform: scale(0.95);}
    80% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

.line_pay_bg{
    background-image: url(../images/donate_02.jpg);
    width: 300px;
    height: 500px;
    background-position: 100% 20%;
}

.bank_transfer_bg{
    background-image: url(../images/donate_01.jpg);
    width: 300px;
    height: 500px;
    background-position: 100% 25%;
}

.cash_donate_bg{
    background-image: url(../images/donate_03.jpg);
    width: 300px;
    height: 500px;
    background-position: 100% 50%;
}