/*-------------------- shared --------------------*/
*{
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    font-family: 微軟正黑體, Arial;
    background-image: url(../images/background_img.jpg);
    background-position: fixed;
}

/*-------------------- top_nav --------------------*/
.top{
    background-color: #fff;
    display: flex;
    height: 150px;
    align-items: center;
}

.top .top_logo{
    display: block;
    width: 195.73px;
    height: 120px;
    margin-left: 40px;
    
}

.top nav{
    
}

.top ul{
    display: flex;
}

.top ul li{
    font-size: 24px;
    margin-left: 48px;
    font-weight: bold;
}

.top ul li:nth-child(6) a{
    color: #FFB7B7;
}

.top li a{
    display: block;
    text-decoration: none;
    color: #9D8E7E;
}

.top ul li:last-child{
    justify-self: flex-end;
}

.top .login{
    color: #9D8E7E;
    text-decoration: none;
    font-size: 24px;
    display: block;
    justify-items: right;
    margin-left: auto;
    margin-right: 48px;
    font-weight: bold;
}

.top a:hover{
    color: #FFB7B7;
    transition: .5s;
}

/*-------------------- breadcrumb --------------------*/
.breadcrumb{
    width: 1200px;
    margin: 0 auto;
}

.breadcrumb ul{
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.breadcrumb li{}

.breadcrumb li a{
    text-decoration: none;
    color: #000;
}

.breadcrumb li:first-child a{
    color: #655004;
}

.breadcrumb li a:hover{
    color: #FFB7B7;
    transition: .5s;
}

/*-------------------- content --------------------*/
.content{
    position: relative;
}

.content ul{
    width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.content li h1{
    color: #fff;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.content li .btn_open{
    display: block;
    color: #000;
    width: 130px;
    height: 48px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 850px;
    border: none;
    cursor: pointer;
}

.container{
    width: 650px;
    height: 300px;
    background-color: #9D8E7E;
    border-radius: 10px;
    position: relative;
    transform: scale(0);
    transition: .5s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 1px;
    margin: auto;
}

.container p{
    font-size: 76px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 300px;
}

.container i{
    font-size: 24px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.cover{
    display: none;/* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    opacity: .5;
    background-color: #000;
    padding-top: 50px;
}

.display_block{
    display: block;
}

.display_none{
    display: none;
}

.is-active{
    animation: popup .7s;
    transform: scale(1);
}

@keyframes popup{
    0% {transform: scale(0);}
    20% {transform: scale(1.1);}
    50% {transform: scale(0.95);}
    80% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

.content li .btn_open:hover{
    color: #fff;
    background-color: #9D8E7E;
    transition: .5s;
}

.line_pay{
    background-image: url(../images/donate_01.jpg);
    width: 300px;
    height: 1000px;
}

.bank_transfer{
    background-image: url(../images/donate_02.jpg);
    width: 300px;
    height: 1000px;
}

.cash_donate{
    background-image: url(../images/donate_03.jpg);
    width: 300px;
    height: 1000px;
}
/*-------------------- bottom --------------------*/
footer{
    background-color: #fff;
}

footer p{
    text-align: center;
    font-size: 6px;
}

.bottom{
    /* width: 100vw; */
    height: 70px;
    background-color: #fff;
    margin-top: 200px;
    padding-left: 25px;
    align-items: center;
    display: flex;
}

.bottom .bottom_left{
    width: 50vw;
    display: flex;
    align-items: center;
}

.bottom .bottom_left i{
    font-size: 24px;
    margin-left: 25px;
    text-decoration: none;
    color: #655004;
}

.bottom .bottom_right{
    width: 100vw;
}

.bottom .bottom_right ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.bottom .bottom_right li a{
    text-decoration: none;
    color: #655004;
    margin-left: 20px;
    font-weight: bold;
}

.bottom_left i:hover, .bottom_right li a:hover{
    color: #FFB7B7;
    transition: .5s;
}