/*-------------------- front_page_banner --------------------*/
.front_page_banner{
    background-image: url(../images/front_page_banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 12%;
    max-width: 1920px;
    height: 750px;
    margin: 0 auto;
    padding-top: 120px;
    padding-left: 60px;
    line-height: 1.4;
    padding-top: 100px;
}

.front_page_banner h1{
    color: #FEF8EA;
    font-size: 88px;
    /* margin-left: 36.2%; */
    /* margin-left: 695px; */
    margin-left: 100px;
    text-shadow: 0 1px 10px #000;
}

.front_page_banner h1 span{
    color: #FFB7B7;
}

.front_page_banner h2{
    color: #FEF8EA;
    font-size: 66px;
    /* margin-left: 30.8%; */
    /* margin-left: 590px; */
    text-shadow: 0 1px 10px #000;
}

.banner_pinkline{
    /* display: block; */
    background-color: #FFB7B7;
    width: 380px;
    height: 5px;
    margin-top: 40px;
    /* margin-left: 36.72vw; */
    /* margin-left: 705px; */
    margin-left: 100px;
    box-shadow: 0px 1px 10px #000;
}

/*-------------------- front_page_newhome --------------------*/
.front_page_newhome_h1{
    font-size: 48px;
    color: #9D8E7E;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

.newhome_pinkline{
    display: block;
    background-color: #FFB7B7;
    width: 120px;
    height: 5px;
    margin: 0 auto;
    margin-top: 25px;
}

.photowall{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.photowall .front_page_home{
    width: 285px;
    height: 248px;
    margin-top: 30px;
    overflow: hidden;
}

.photowall .front_page_home > img{
    width: 285px;
    height: 248px;
    display: block;
    transition: .5s;
}

.photowall .front_page_home > img:hover{
    transform: scale(1.2);
}

/*-------------------- news_release --------------------*/
.news_release{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
}

.news_release .news_release_left{
    margin-right: 20px;
    text-align: center;
}

.news_release .news_release_left h1{
    font-size: 48px;
    color: #9D8E7E;
    font-weight: bold;
}

.news_release .news_release_left .news_release_pinkline{
    display: block;
    background-color: #FFB7B7;
    width: 120px;
    height: 5px;
    margin: 0 auto;
    margin-top: 15px;
}

.news_release .news_release_left ul{
    margin-top: 50px;
}

.news_release .news_release_left li{
    text-align: left;
}

.news_release .news_release_left li a{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    line-height: 1.8;
}

.news_release .news_release_left li a:hover{
    background-color: rgba(157, 142, 126, .2);
}

.news_release .news_release_left_a{
    display: block;
    width: 100px;
    height: 40px;
    background-color: #9D8E7E;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid #9D8E7E;
    transition: .5s;
}

.news_release .news_release_left_a:hover{
    transform: scale(1.1);
    transition: .5s;
}

.news_release > img{
    width: 600px;
}

/*-------------------- search_announcement --------------------*/
.search_announcement{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
}

.search_announcement > img{
    width: 600px;
    /* height: 600px; */
}

.search_announcement_right{
    margin-left: 40px;
    text-align: center;
    width: 580px;
}

.search_announcement_right h1{
    font-size: 48px;
    color: #9D8E7E;
    font-weight: bold;
}

.search_announcement_right ul{
    margin-top: 50px;
}

.search_announcement_right li{
    text-align: left;
}

.search_announcement_right li a{
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    line-height: 1.8;
}

.search_announcement_right li a:hover{
    background-color: rgba(157, 142, 126, .2);
}


.search_announcement_right_a{
    display: block;
    width: 100px;
    height: 40px;
    background-color: #9D8E7E;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid #9D8E7E;
}

.search_announcement_right_a:hover{
    transform: scale(1.1);
    transition: .5s;
}

.search_announcement_right .search_announcement_pinkline{
    display: block;
    background-color: #FFB7B7;
    width: 120px;
    height: 5px;
    margin: 0 auto;
    margin-top: 15px;
}

/*-------------------- donate_info --------------------*/
.donate_info{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.donate_info h1{
    font-size: 48px;
    color: #9D8E7E;
    font-weight: bold;
    text-align: center;
}

.donate_info .donate_info_pinkline{
    display: block;
    background-color: #FFB7B7;
    width: 120px;
    height: 5px;
    margin: 0 auto;
    margin-top: 15px;
}

.donate_info .donate_info_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.donate_info .donate_info_card > div{
    margin-top: 20px;
}

.donate_info .donate_info_card .rectangle{
    display: block;
    width: 280px;
    height: 250px;
    background-color: #9D8E7E;
    opacity: .2;
}

.donate_info_card .donate_card{
    display: flex;
    /* border: 1px solid #9D8E7E; */
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

.donate_info_card .donate_card .rectangle1{
    position: absolute;
}

.donate_info_card .donate_card img{
    position: relative;
    display: block;
    margin-left: 20px;
    margin-top: 20px;
    /* width: 320px; */
    height: 250px;
}

.donate_info_card .donate_card .vertical_line{
    display: block;
    width: 3px;
    height: 250px;
    background-color: #9D8E7E;
    opacity: .2;
    margin-top: 20px;
    margin-left: 25px;
}

.donate_info_card .donate_card h3{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 30px;
}

.donate_info_card .donate_card h3:first-child{
    margin-top: 20px;
}

.donate_info_card .donate_card a{
    display: block;
    width: 80px;
    height: 35px;
    background-color: #9D8E7E;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 31px;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #9D8E7E;
}

.donate_info_card .donate_card a:hover{
    transform: scale(1.1);
    transition: .5s;
}

.donate_info a{
    display: block;
    width: 100px;
    height: 40px;
    background-color: #9D8E7E;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 34px;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #9D8E7E;
}

.donate_info a:hover{
    transform: scale(1.1);
    transition: .5s;
}

.to_top{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50px;
    border: none;
    opacity: .5;
    cursor: pointer;
    color: #fff;
    background-color: #9D8E7E;
    width: 30px;
    height: 30px;
    transition: .5s;
}

.to_top:hover{
    transition: .5s;
    transform: scale(1.1);
}