/*-------------------- giving_up_banner --------------------*/
.giving_up_banner{
    background-image: url(../images/giving_up_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    height: 750px;
    margin: 0 auto;
    padding-top: 20px;
}

.giving_up_banner h1{
    font-size: 88px;
    color: #FEF8EA;
    /* font-weight: bold; */
    margin-left: 120px;
    margin-top: 30px;
    line-height: 1.2;
    text-shadow: 0 1px 10px #000;
}

.giving_up_banner h2{
    font-size: 66px;
    color: #FEF8EA;
    /* font-weight: bold; */
    margin-left: 120px;
    line-height: 1.2;
    text-shadow: 0 1px 10px #000;
}

.giving_up_banner .giving_up_banner_pinkline{
    /* display: block; */
    background-color: #FFB7B7;
    width: 380px;
    height: 5px;
    margin-left: 120px;
    margin-top: 30px;
}

/*-------------------- giving_up_announcement --------------------*/
.giving_up_announcement{
    width: 880px;
    height: 240px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 50px;
    /* padding-top: 20px;
    padding-left: 50px; */
    position: relative;
}

.giving_up_announcement_content{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.giving_up_announcement_content h2{
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.agree{
    display: block;
    width: 100px;
    height: 35px;
    background-color: #9D8E7E;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.agree:hover{
    transform: scale(1.1);
    transition: .5s;
}

.display_block{
    display: block;
    transition: .5s;
}

/*-------------------- login_register --------------------*/
.cover{
    display: none;
    position: fixed; 
    z-index: 0; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    opacity: .5;
    background-color: #000;
    padding-top: 50px;
}

.login_register{
    /* border: 1px solid red; */
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login_register_container{
    display: flex;
}

.login_register_container i{
    font-size: 24px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.warn{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.login_register_container a{
    display: block;
    width: 100px;
    height: 35px;
    background-color: #9D8E7E;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .5s;
    margin: 0 20px;
}

.login_register_container a:hover{
    transform: scale(1.1);
    transition: .5s;
}