/*-------------------- img --------------------*/
.web_idea img{
    width: 400px;
    height: 265px;
}

.logo_design img{
    width: 400px;
    height: 265px;
}

.web_target img{
    width: 400px;
    height: 265px;
}
/*-------------------- web_idea --------------------*/
.vertical_line{
    display: block;
    width: 5px;
    height: 60px;
    background-color: #FFB7B7;
}

.vertical_line1{
    margin-left: 30px;
}

.web_idea{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.web_idea_right{
    width: 600px;
}

.web_idea_right_title{
    display: flex;
    align-items: center;
}

.web_idea_right h1{
    font-size: 48px;
    font-weight: bold;
    margin-left: 20px;
}

.web_idea_right p{
    font-size: 24px;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: bold;
    /* line-height: 1.4; */
}

/*-------------------- logo_design --------------------*/
.logo_design{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.logo_design_left{
    margin-right: 30px;
    width: 600px;
}

.logo_design_left_title{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo_design_left_title h1{
    font-size: 48px;
    margin-right: 20px;
}

.logo_design_left p{
    /* text-align: right; */
    margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
    /* line-height: 1.2; */
}

/*-------------------- web_target --------------------*/
.web_target{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.web_target_right{
    margin-left: 30px;
    width: 600px;
}

.web_target_right_title{
    display: flex;
    align-items: center;
}

.web_target_right_title h1{
    margin-left: 20px;
    font-size: 48px;
    font-weight: bold;
}

.web_target_right p{
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    /* line-height: 1.2; */
}