/*-------------------- shared --------------------*/
*{
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    font-family: 微軟正黑體, Arial;
    background-image: url(../images/background_img.jpg);
    background-position: fixed;
}

/*-------------------- top_nav --------------------*/
.top{
    background-color: #fff;
    display: flex;
    height: 150px;
    align-items: center;
}

.top .top_logo{
    display: block;
    width: 195.73px;
    height: 120px;
    margin-left: 40px;
    
}

.top nav{
    
}

.top ul{
    display: flex;
}

.top ul li{
    font-size: 24px;
    margin-left: 48px;
    font-weight: bold;
}

.top ul li:nth-child(4) a{
    color: #FFB7B7;
}

.top li a{
    display: block;
    text-decoration: none;
    color: #9D8E7E;
}

.top ul li:last-child{
    justify-self: flex-end;
}

.top .login{
    color: #9D8E7E;
    text-decoration: none;
    font-size: 24px;
    display: block;
    justify-items: right;
    margin-left: auto;
    margin-right: 48px;
    font-weight: bold;
}

.top a:hover{
    color: #FFB7B7;
    transition: .5s;
}

/*-------------------- breadcrumb --------------------*/
.breadcrumb{
    width: 1200px;
    margin: 0 auto;
}

.breadcrumb ul{
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.breadcrumb li{}

.breadcrumb li a{
    text-decoration: none;
    color: #000;
}

.breadcrumb li:first-child a{
    color: #655004;
}

.breadcrumb li a:hover{
    color: #FFB7B7;
    transition: .5s;
}

/*-------------------- news --------------------*/
.news{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.news .rectangle{
    display: block;
    width: 590px;
    height: 360px;
    background-color: #9D8E7E;
    opacity: .2;
    position: absolute;
}

.news .img_title h1{
    font-size: 24px;
    font-weight: bold;
    margin-left: 80px;
    padding-top: 20px;
    line-height: 1;
}

.news .img_title img{
    display: block;
    width: 590px;
    height: 360px;
    position: relative;
    margin-left: 80px;
}

.news .vertical_line{
    display: block;
    width: 5px;
    height: 410px;
    background-color: #9D8E7E;
    opacity: .2;
    margin-left: 45px;
}

.news .news_right{
    margin-left: 20px;
    width: 500px;
}

.news .news_right li{
    font-weight: 700;
}

.news .news_right .see_more{
    display: block;
    width: 125px;
    height: 35px;
    background-color: #fff;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 35px;
    font-weight: bold;
}

.news .news_right .see_more:hover{
    color: #fff;
    background-color: #9D8E7E;
    transition: .5s;
}

/*-------------------- news_release --------------------*/
.news_release_right li a{
    display: block;
    text-decoration: none;
    color: #000;
}

.news_release_right li a:hover{
    background-color: rgba(157, 142, 126, .2);
}

.news_release_right li a:visited{
    /* color: rgba(157, 142, 126, .2); */
    color: #000;;
}

/*-------------------- activity --------------------*/
.activity{
    font-weight: bold;
}
/*-------------------- search_announcement --------------------*/
.search_announcement a{
    display: block;
    text-decoration: none;
    color: #000;
}

.search_announcement a:hover{
    background-color: rgba(157, 142, 126, .2);
}

.search_announcement a:visited{
    /* color: rgba(157, 142, 126, .2); */
    color: #000;
}

/*-------------------- bottom --------------------*/
footer{
    background-color: #fff;
}

footer p{
    text-align: center;
    font-size: 6px;
}

.bottom{
    /* width: 100vw; */
    height: 70px;
    background-color: #fff;
    margin-top: 150px;
    padding-left: 25px;
    align-items: center;
    display: flex;
}

.bottom .bottom_left{
    width: 50vw;
    display: flex;
    align-items: center;
}

.bottom .bottom_left i{
    font-size: 24px;
    margin-left: 25px;
    text-decoration: none;
    color: #655004;
}

.bottom .bottom_right{
    width: 100vw;
}

.bottom .bottom_right ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.bottom .bottom_right li a{
    text-decoration: none;
    color: #655004;
    margin-left: 20px;
    font-weight: bold;
}

.bottom_left i:hover, .bottom_right li a:hover{
    color: #FFB7B7;
    transition: .5s;
}