h1{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.pinkline{
    display: block;
    background-color: #FFB7B7;
    width: 120px;
    height: 5px;
    margin: 0 auto;
    margin-top: 15px;
}

/****************** news ******************/
.news{
    width: 1200px;
    margin: 0 auto;
}
/****************** news_title ******************/
.news_title{
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    border-bottom: 1px solid #ccc;
}

.news_title ul{
    display: flex;
    font-weight: bold;
    font-size: 18px;
    
}

.news_title li{
    margin-bottom: 10px;
    border-right: 1px dashed #ccc;
    padding: 0 15px;
    cursor: pointer;
}

.news_title li:hover{
    background-color: rgba(157, 142, 126, .2);
}

.news_title .focus{
    background-color: rgba(157, 142, 126, .2);
}

/****************** article ******************/
article:hover{
    background-color: rgba(157, 142, 126, .2);
}

.article_item{
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.article_item .article_top{
    display: inline-block;
    background-color: red;
    color: #fff;
    padding: 5px;
    margin: 0 10px;
    line-height: 1;
    font-weight: bold;
}

.article_item .article_news{
    display: inline-block;
    background-color: darkcyan;
    color: #fff;
    padding: 5px;
    margin: 0 10px;
    line-height: 1;
}

.article_item .article_activity{
    display: inline-block;
    background-color: darkgoldenrod;
    color: #fff;
    padding: 5px;
    margin: 0 10px;
    line-height: 1;
}

.article_item time{
    color: #9D8E7E;
}

.article_item .para{
    font-weight: bold;
    padding-left: 66px;
    cursor: pointer;
}

/****************** official ******************/
.article_official{
    display: inline-block;
    background-color: darkgreen;
    color: #fff;
    padding: 5px;
    margin: 0 10px;
    line-height: 1;
}

.article_item a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/****************** nonofficial ******************/
.nonarticle_official{
    display: inline-block;
    background-color: #FFB7B7;
    color: #fff;
    padding: 5px;
    margin: 0 10px;
    line-height: 1;
}