/****************** news ******************/
.news{
    width: 1200px;
    margin: 0 auto;
}

.news h1{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.news .pinkline{
    display: block;
    background-color: #FFB7B7;
    width: 120px;
    height: 5px;
    margin: 0 auto;
    margin-top: 15px;
}

/****************** news_title ******************/
.news_title{
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    border-bottom: 1px solid #ccc;
}

.news_title ul{
    display: flex;
    font-weight: bold;
    font-size: 18px;
    
}

.news_title li{
    margin-bottom: 10px;
    border-right: 1px dashed #ccc;
    padding: 0 15px;
    cursor: pointer;
}

.news_title li:last-child{
    border: 0;
}

.news_title li:hover{
    background-color: rgba(157, 142, 126, .2);
}

.news_title .focus{
    background-color: rgba(157, 142, 126, .2);
}

/****************** article ******************/
article:hover{
    background-color: rgba(157, 142, 126, .2);
}

.article_item{
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.article_item .article_top{
    display: inline-block;
    background-color: red;
    color: #fff;
    padding: 5px;
    margin: 0 10px;
    line-height: 1;
    font-weight: bold;
}

.article_item .article_news{
    display: inline-block;
    background-color: darkcyan;
    color: #fff;
    padding: 5px;
    margin: 0 10px;
    line-height: 1;
}

.article_item .article_activity{
    display: inline-block;
    background-color: darkgoldenrod;
    color: #fff;
    padding: 5px;
    margin: 0 10px;
    line-height: 1;
}

.article_item time{
    color: #9D8E7E;
}

.article_item .para{
    font-weight: bold;
    padding-left: 66px;
    cursor: pointer;
}

/****************** official ******************/
.official_el .article_item{
    display: flex;
}

.official_el .article_item .article_official{
    display: inline-block;
    background-color: darkgreen;
    color: #fff;
    padding: 5px;
    margin: 0 10px;
    line-height: 1;
}

.official_el .article_item a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: block;
    flex-grow: 1;
}

/****************** nonofficial ******************/
.nonarticle_official{
    display: inline-block;
    background-color: #FFB7B7;
    color: #fff;
    padding: 5px;
    margin: 0 10px;
    line-height: 1;
}


/*-------------------- RWD (428px) --------------------*/
/*-------------------- RWD (428px) --------------------*/
/*-------------------- RWD (428px) --------------------*/
/*-------------------- RWD (428px) --------------------*/
@media screen and (max-width: 428px){

    /****************** news ******************/
    .news{
        width: auto;
    }

    .news h1{
        font-size: 36px;
        color: #9D8E7E;
    }

    .news .pinkline{
        width: 100px;
        height: 4px;
    }

    /****************** news_title ******************/
    .news_title{
        width: auto;
    }

    .news_title ul{
        padding: 0 20px;
        justify-content: space-around;
    }

    .news_title li{
        font-size: 15px;
    }

    /****************** article ******************/
    .article_item{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
        text-align: justify;
    }

    .article_item .article_top{

    }

    .article_item .para{
        padding: 0 15px;
        padding-top: 5px;
        text-align: justify;
    }
}