/*-------------------- shared --------------------*/
*{
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    font-family: 微軟正黑體, Arial;
    background-image: url(../images/background_img.jpg);
    background-position: fixed;
}

/*-------------------- top_nav --------------------*/
.top{
    background-color: #fff;
    display: flex;
    height: 100px;
    align-items: center;
    box-shadow: 0 0 20px 0px #9D8E7E;
}

.top .top_logo{
    display: block;
    width: 120px;
    /* height: 120px; */
    margin-left: 40px;
}

.top ul{
    display: flex;
}

.top ul li{
    font-size: 20px;
    margin-left: 48px;
    font-weight: bold;
}

.top li a{
    display: block;
    text-decoration: none;
    color: #9D8E7E;
}

.top ul li:last-child{
    justify-self: flex-end;
}

.top .login{
    color: #9D8E7E;
    text-decoration: none;
    font-size: 20px;
    display: block;
    justify-items: right;
    margin-left: auto;
    margin-right: 48px;
    font-weight: bold;
}

.top a:hover{
    color: #FFB7B7;
    transition: .5s;
}
.top ul li:nth-child(3) a{
    color: #FFB7B7;
}

/*-------------------- breadcrumb --------------------*/
.breadcrumb{
    width: 1200px;
    margin: 0 auto;
}

.breadcrumb ul{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.breadcrumb li{}

.breadcrumb li a{
    text-decoration: none;
    color: #000;
}

.breadcrumb li:first-child a{
    color: #9D8E7E;
}

.breadcrumb li a:hover{
    color: #FFB7B7;
    transition: .5s;
}

/*-------------------- publish_step --------------------*/
.publish_step{
    width: 750px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.circle{
    display: block;
    width: 150px;
    height: 150px;
    background-color: #9D8E7E;
    opacity: .8;
    border-radius: 50%;
}

.line{
    display: block;
    width: 150px;
    height: 10px;
    background-color: #9D8E7E;
    opacity: .8;
}

.publish_step .circle1{
    position: relative;
}

.publish_step .circle1:before{
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-------------------- publish_form --------------------*/
.publish_form{
    width: 950px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

/*-------------------- publish_form_left --------------------*/
.publish_form_left{
    width: 600px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.publish_form_left h2{
    width: 600px;
    height: 40px;
    background-color: red;
    color: #fff;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.publish_form_left h4{
    color: red;
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 25px;
}


.publish_form_left .name{
    font-size: 20px;
    font-weight: bold;
    margin: 0 25px;
    margin-top: 50px;
}

.publish_form_left .name .underLineStyle {
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    width: 150px;
}

.publish_form_left .name select{
    width: 150px;
    height: 25px;
    font-size: 12px;
    border-radius: 5px;
}

.publish_form_left div:nth-last-child(5){
    flex-basis: 500px;
}

/* input[type="file"]{
    display: none;
} */


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea{
    resize: none;
    margin-top: 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

textarea::placeholder, input::placeholder{
    color: #ccc;
}

/* .publish_form_left .name .hide_upload{
    display: none;
} */

/* .publish_form_left .name .upload_style{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
} */

/*-------------------- publish_form_right --------------------*/
.publish_form_right_rule{
    width: 300px;
    background-color: #fff;
}

/* .publish_form_right_title{
    width: 300px;
    height: 40px;
    background-color: red;
}

.publish_form_right_title h2{
    color: #fff;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
} */

.publish_form_right_rule h2{
    width: 300px;
    height: 40px;
    background-color: red;

    color: #fff;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.publish_form_right_rule p{
    font-size: 12px;
    padding: 20px 20px 0 20px;
}

.publish_form_right_rule .checkbox{
    margin-top: 30px;
    /* margin-bottom: 10px; */
    padding-bottom: 10px;
    padding-left: 10px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.publish_form_right_rule .checkbox_description{
    font-size: 18px;
    color: red;
    
}

input[type="checkbox"]{
    width: 30px;
    height: 15px;
}

.publish_form_right a{
    display: block;
    width: 130px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
}

.publish_form_right a:hover{
    color: #fff;
    background-color: #9D8E7E;
    transition: .5s;
}

/*-------------------- bottom --------------------*/
footer{
    background-color: #fff;
}

footer p{
    text-align: center;
    font-size: 6px;
}

.bottom{
    /* width: 100vw; */
    height: 70px;
    background-color: #fff;
    margin-top: 530px;
    padding-left: 25px;
    align-items: center;
    display: flex;
}

.bottom .bottom_left{
    width: 50vw;
    display: flex;
    align-items: center;
}

.bottom .bottom_left i{
    font-size: 24px;
    margin-left: 25px;
    text-decoration: none;
    color: #655004;
}

.bottom .bottom_right{
    width: 100vw;
}

.bottom .bottom_right ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.bottom .bottom_right li a{
    text-decoration: none;
    color: #655004;
    margin-left: 20px;
    font-weight: bold;
}

.bottom_left i:hover, .bottom_right li a:hover{
    color: #FFB7B7;
    transition: .5s;
}